@if (Comment.ParentId == null || IsRecursive == true)
{
    <li class="comment-card media border rounded p-2 m-1">
        <div class="d-inline-flex justify-content-between flex-column mr-3">
            <div class="text-center upvote">
                <i title="upvote" @onclick="Up" class="icofont-arrow-up icofont-2x @UpvotedCssClass"></i>
            </div>
            <h4 class="text-center @VoteCountColorCssClass">
                <strong>@Comment.TotalScore</strong>
            </h4>
            <div class="text-center downvote">
                <i title="downvote" @onclick="Down" class="icofont-arrow-down icofont-2x @DownvotedCssClass"></i>
            </div>
        </div>
        <!--<img class="align-self-start mr-3" alt="image">-->
        <div class="media-body mr-4">
            <span><MarkdownRenderer Markdown="@Comment.Description" /></span>
            <div class="d-flex flex-row mb-1 mt-1" title="@Comment.Created">
                Created @Comment.Created by @Comment.UserName
            </div>
            <ul class="list-unstyled">
                @foreach(var comment in Comment.Children)
                {
                    <CommentCard @key="comment.Id" Comment="comment" IsRecursive="true" />
                }

            </ul>
        </div>
    </li>
}


@code {

}
